<h1>Editing enrollment</h1>

<%= render "form", enrollment: @enrollment %>

<br>

<div>
  <%= link_to "Show this enrollment",  [@course, enrollment] %> |
  <%= link_to "Back to enrollments", course_enrollments_path(@course) %>
</div>
